# GitHub Personal Access Token (yêu cầu quyền 'repo' để tạo GitHub Release & upload file)
# Tạo token tại: https://github.com/settings/tokens
GH_TOKEN=

# Phiên bản ứng dụng muốn build & phát hành (Ví dụ: 1.0.1, 1.1.0, 2.0.0)
# Khi thiết lập APP_VERSION ở đây, lệnh `npm run release` và `npm run dev` sẽ tự động cập nhật version chuẩn vào package.json
APP_VERSION=1.0.0
